* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient( 90deg,
  rgba(255, 225, 132, .7) 50%, rgba(255,255,255, 0) 50%),
  linear-gradient( 90deg,
  rgba(32, 113, 120, .3) 50%, rgba(255,255,255, 0) 50%),
  linear-gradient( 90deg,
  rgba(255, 150, 102, .3) 50%, rgba(255,255,255, 0) 50%),
  linear-gradient( 90deg,
  rgba(23, 76, 79, .1) 50%, rgba(255,255,255, 0) 50%);
  background-size: 7em 7em, 5em 5em, 3em 3em, 1em 1em;
  background-color: #ffaa4f;
}

.topnav {
  overflow: hidden;
  background-color: #202124;
  padding: 15px;
  top: 0;
  position: sticky;
  z-index: 99;
}

.topnav p {
    float: left;
    display: block;
    color:#ff8f18;
    text-align: center;
    margin: 1vw;
    margin-right: 2vw;
    text-decoration: none;
    font-size: 20px;
  }

.topnav a {
  float: right;
  display: block;
  color: #e6560e;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #202124;
  color: #ff8f18;
}


.topnav .search-container {
  float: left;
  margin-top: 10px;
  width: 500px;
  height: 35px;
  border: 0px solid;
  border-radius: 20px;
  background: white;
  padding-left: 10px;
  padding-right: 10px;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 1px;
  font-size: 17px;
  border: none;
  width: 400px;
  color:#202124;
}

.topnav .search-container p {
  float: left;
  padding: 6px 10px;
  margin-top: 1px;
  margin-right: 16px;
  background: white;
  color:#202124;
  font-size: 17px;
  border: none;
  cursor: pointer;
  width: 35px;
}

.sidenav {
    height: 600px;
    width: 310px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #292f32;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 15vh;
    margin-left: 2vw;
    border: 0px solid;
    border-radius: 15px;
    opacity: 1;
  }

  .sidenav p {
    padding: 6px 6px 6px 22px;
    text-decoration: none;
    font-size: 24px;
    color: #ff8f18;
    display: block;
    font-weight: 700;
  }
  
  .sidenav hr {
    margin: 15px;
    margin-bottom: 30px;
    display: block;
  }

  .sidenav a {
    padding: 6px 6px 10px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #707070;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .video {
    margin-left: 25vw;
    height: 400px;
    width: 800px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#fff;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: 16vh;
    border: 0px solid;
    opacity: 1;
  }

  .main {
    margin-left: 350px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding: 0px 10px;
    padding-top: 20px;
    margin-top: 16vh;
    font-size: 28px; /* Increased text to enable scrolling */
  
  }
  .main_p{
    margin-left: 340px;
    position: fixed;
    top: 405px;
    left: 0;
    overflow-x: hidden;
    padding: 0px 10px;
    padding-top: 20px;
    margin-top: 16vh;
    font-size: 15px; 
    color: #fff;
  }

  .main_a{
    margin-left: 940px;
    position: fixed;
    top: 500px;
    left: 0;
    margin-top: 16vh;
    font-size: 15px; 
    border: 1px solid #707070;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 5em;
    color: #ff8f18;
    background: #202124;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    text-decoration: none;
  }

  .main_p2{
    margin-left: 340px;
    position: fixed;
    top: 205px;
    left: 0;
    overflow-x: hidden;
    padding: 0px 10px;
    padding-top: 20px;
    margin-top: 16vh;
    font-size: 15px; 
    color: #fff;
  }

.c_container{
    margin-left: 350px;
    height: 200px;
    width: 1150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#202124;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: 16vh;
    border: 0px solid;
}

.c_container img{
    width: 300px;
    height: 190px;
    padding: 10px;
    margin: 5px;
    float: left;
    background-color: #fff;
    margin-right: 1vh;
    margin-left: 10px;
    border: 0px solid;
    border-radius: 20px;
  }
 
  .c_button{
    padding: 10px;
    float: left;
    background-color: #000000;
    color: #ff8f18;
    margin: 0px;
    border: 0px solid;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  }

  .main_button{
    margin-left: 1300px;
    position: fixed;
    top: 500px;
    left: 0;
    font-weight: 900;
    margin-top: 21vh;
    font-size: 16px; 
    border: 0px solid;
    box-sizing: border-box;
    cursor: pointer;
    color: #ff8f18;
    background: #202124;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    text-decoration: none;
  }

.video_prev{
    margin-left: 350px;
    float: left;
    height: 300px;
    width: 600px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#fff;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: 45vh;
    border: 0px solid;
    opacity: 0.72; 
}

.main_p3{
    margin-left: 950px;
    position: fixed;
    top: 205px;
    left: 0;
    overflow-x: hidden;
    padding: 0px 10px;
    padding-top: 20px;
    margin-top: 16vh;
    font-size: 15px; 
    color: #fff;
  }

  .video_1{
    margin-left: 10px;
    height: 401px;
    width: 550px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#fff;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: 0vh;
    border: 0px solid;
    opacity: 0.72;
  }
  .video_2{
    margin-left: 570px;
    height: 401px;
    width: 550px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#fff;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: -53.5vh;
    border: 0px solid;
    opacity: 0.72;
  }

  .analysis{
    margin-left: 370px;
    top: 0;
    left: 0;
    height: 1100px;
    width: 1110px;
    overflow-x: hidden;
    padding: 0px 10px;
    padding-top: 20px;
    margin-top: 5vh;
    font-size: 28px; /* Increased text to enable scrolling */   
    background-color: #202124;
    opacity: 1;
    border-radius: 20px;
  }

  .vid_main {
    margin-left: 350px;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding: 0px 10px;
    padding-top: 20px;
    margin-top: 2vh;
    font-size: 28px; /* Increased text to enable scrolling */
  }

  .analysis p{
      color: #ff8f18;
      margin-left: 10px;
      font-size: 22px;
  }

  .analysis .textarea{
    margin-left: 10px;
    opacity: 0.72;
    background-color: #606060;
    border: 0px solid;
    width: 700px;
    height: 350px;
    border-radius: 20px;
  }

  .graph{
    margin-left: 10px;
    top: 0;
    left: 0;
    height: 500px;
    width: 1070px;
    overflow-x: hidden;
    padding: 0px 10px;
    padding-top: 10px;
    margin-top: 2vh;
    font-size: 28px; /* Increased text to enable scrolling */   
    background-color: #fff;
    opacity: 1;
    border-radius: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .ana{
    margin-left: 370px;
    top: 0;
    left: 0;
    height: 600px;
    width: 1110px;
    overflow-x: hidden;
    padding: 0px 10px;
    padding-top: 5px;
    margin-top: 5vh;
    font-size: 28px; /* Increased text to enable scrolling */   
    background-color: #202124;
    opacity: 0.72;
    border-radius: 20px;
  }

  .ana p{
    color: #ff8f18;
    margin-left: 10px;
    font-size: 22px;
}