<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Courses</title>
  <link rel="icon" href="../static/images/favicon.png">
  <style>
    #vantaWaves{
      min-height: 120vh;
    }
  </style>
</head>

<body>
  <div class="topnav">
    <div style=" margin-left: 10vw;">
      <a href="/" style="float:left; margin:-20px;"><p><img style="width: 75px; height: 75px; margin:-20px;" src="../static/images/favicon.png" alt="" /></p>
      <p style="font-size: 72px; margin: -10px; margin-left: 10px; font-family: 'Times New Roman', Times, serif;">TutorAI</p></a>
    </div>
    <div style=" margin-right: 10vw;">
      <a href="/profile"><img style="width: 30px; height: 30px;" src="../static/images/profileicon.png" alt="" /></a>
      <a href="/landing"><p style="font-size: 30px; margin: -5px;">My Tutorial</p></a>
      <a href="/logout"><p style="font-size: 30px; margin: -5px;">Logout</p></a>
    </div>
  </div>
      <div style="margin: 5vh;"></div>
      {%for j in categories%}
      <div style="margin: 5vh;">
        <h2 style="color: #000000; font-size: 32px;">{{j}}</h2>
        <div class="row">
            {% for i in cname%}
            {%if course[i]['category']==j%}
                <a href="/warmup/{{course[i]['url']}}"><div class="column">
                  <div class="card">
                    <img src="../static/images/{{course[i]['img']}}" alt="" />
                    <h2>{{i}}</h2>
                    <p style="color: rgb(255, 255, 255);">{{course[i]["description"]}}</p>
                    <p><b>Views: </b>{{course[i]['views']}}</p>
                  </div>
                </div></a>
            {%endif%}
            {% endfor %}
        </div>
      </div>
      <div style="margin: 5vh;"></div>
      {%endfor%}

      <!--div style="margin: 5vh;">
        <h2 style="color: #4DB3E6;">My Coaches</h2>
        <div class="row">
            <div class="column">
              <div class="card">
                <img src="../static/images/favicon.png" alt="" />
                <h2>Shaashwat</h2>
                <p style="color: black;">A gym trainer and a fitness enthusiast</p>
              </div>
            </div>

            <div class="column">
              <div class="card">
                <img src="../static/images/favicon.png" alt="" />
                <h2>Ragu</h2>
                <p style="color: black;">Taikwando Black belt </p>
              </div>
            </div>

            <div class="column">
              <div class="card">
                <img src="../static/images/favicon.png" alt="" />
                <h2>Samshi</h2>
                <p style="color: black;">Kathak performer and teacher</p>
              </div>
            </div>

            <div class="column">
              <div class="card">
                <img src="../static/images/favicon.png" alt="" />
                <h2>Prabhu</h2>
                <p style="color: black;">Guitar expert, Singer</p>
              </div>
            </div>
          </div>
      </div-->
      <!-- <div id="vantaWaves"></div>
      <script src="https://cdn.jsdelivr.net/npm/vanta@0.5.21/vendor/three.r119.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vanta@0.5.21/dist/vanta.fog.min.js"></script>
      <script>
        VANTA.FOG({
          el: "#vantaWaves",
          mouseControls: true,
          touchControls: true,
          gyroControls: false,
          minHeight: 200.00,
          minWidth: 200.00,
          highlightColor: 0xcf5fea,
          midtoneColor: 0x434bf9,
          lowlightColor: 0x6e41c7,
          baseColor: 0x202020,
          blurFactor: 0.79,
          speed: 5.00
        }); -->
        </script>
</body>

</html>