<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../static/css/index.css">
  <title>Log in</title>
  <link rel="icon" href="../static/images/favicon.png">
</head>

<body>
  <div class="container">
    <div class="main">
      <p style="margin: 0 0 20px 0; font-size: 39px;" class="sign">
          <img style="width: 70px; height: 70px;" src="../static/images/favicon.png" alt="" />
          Log in
          <img style="width: 70px; height: 70px; visibility: hidden;" src="../static/images/favicon.png" alt="" />
        </p>
        <form class="form1" method="POST">
        <input class="un" type="text" style="align-items: center;" placeholder="Username" name = "uname">
        <input class="un" type="password" style="align-items: center;" placeholder="Password" name = "pwd">
        <input type="submit" class="submit" style="align-items: center;" value="Log in"></form>
        <p class="forgot" style="text-align: center;">
            <a href="/signup">Create a New Account</a></p>
    </div>
  </div>
</div>
<!-- <div id="vantaWaves"></div>
<script src="https://cdn.jsdelivr.net/npm/vanta@0.5.21/vendor/three.r119.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanta@0.5.21/dist/vanta.net.min.js"></script>
<script>
  VANTA.NET({
    el: "#vantaWaves",
    mouseControls: true,
    touchControls: true,
    gyroControls: false,
    minHeight: 200.00,
    minWidth: 200.00,
    scale: 1.00,
    scaleMobile: 1.00,
    color: 0x8C55AA,
    backgroundColor: 0x0b0e0b
    });
  </script> -->
</body>

</html>