<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../static/css/video.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
  <title>Statistics</title>
  <link rel="icon" href="../static/images/favicon.png">
  <style>
      #vantaWaves{
          height: 175vh;
      }
  </style>
</head>

<body>
    <div class="topnav">
        <div style=" margin-left: 10vw;">
          <a href="/" style="float:left; margin:-20px;"><p><img style="width: 75px; height: 75px; margin:-20px;" src="../static/images/favicon.png" alt="" /></p>
          <p style="font-size: 70px; margin: -10px; margin-left: 10px; font-family: 'Times New Roman', Times, serif;">EdTutor</p></a>
        </div>
        <div style=" margin-right: 10vw;">
          <a href="/profile"><img style="width: 30px; height: 30px;" src="../static/images/profileicon.png" alt="" /></a>
          <a href="/landing"><p style="font-size: 30px; margin: -3px;">My Tutorial</p></a>
          <a href="/logout"><p style="font-size: 30px; margin: -3px;">Logout</p></a>
        </div>
      </div>
      
      <!--div class="sidenav">
        <p>Warmup Dance Moves</p>
        <hr>    
        <a href="#"><img style="width: 20px; height: 20px;" src="../static/images/play (1).png" alt="" /> Video -1</a>
        <a href="#"><img style="width: 20px; height: 20px;" src="../static/images/play (1).png" alt="" /> Video -2</a>
        <a href="#"><img style="width: 20px; height: 20px;" src="../static/images/play (1).png" alt="" /> Video -3</a>
        <a href="#"><img style="width: 20px; height: 20px;" src="../static/images/play (1).png" alt="" /> Video -4</a>
        <a href="#"><img style="width: 20px; height: 20px;" src="../static/images/play (1).png" alt="" /> Video -5</a>
      </div-->
      <!-- <div class="vid_main">
        <div class="video_1">
            <video width="550" height="400" controls>
                <source src="../static/video/output.webm" type="video/webm">
                Your browser does not support the video tag.
              </video>
        </div>
        <div class="video_2">
            <video width="550" height="400" controls>
                <source src="../static/video/ref_video.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
        </div>
      </div> -->
      <div style="margin-left: 20vw;">
        <table>
            <tr>
                <td>
                    <video width="550" height="400" controls>
                        <source src="../static/video/output.webm" type="video/webm">
                        Your browser does not support the video tag.
                    </video>
                </td>
                <td>
                    <video width="550" height="400" controls>
                        <source src="../static/video/{{course['vurl']}}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </td>
            </tr>
        </table>
      </div>
      <div class="analysis">
          <p>Analysis</p>  
          <p class="textarea" rows="8" cols="80" style="padding: 10px; color: white; font-size: 18px; width: 98%;">{{s}}</p>
          <p>Spider Graph</p> 
          <div id='myDiv' class="graph"></div>
          <p>Performance Improvement (from your Average Performance) : {{perform_diff}}%</p>
      </div>
      <div id="vantaWaves"></div>
    <script>
        var x={{score}};
        var y=['shoulders','left hand','right hand','left forearm','right forearm', 'left side of the body','right side of the body', 'waist', 'left thigh','right thigh','left crus','right crus','head','shoulders'];
        var data = [{
            type: 'scatterpolar',
            r: x,
            theta: y,    
            fill: 'toself'
        }];
        let layout = {
            polar: {
                radialaxis: {
                    visible: true,
                    range: [0, 100]
                }
            },
            showlegend: false
        };
        Plotly.newPlot("myDiv", data, layout);
    </script>
      <!-- script src="https://cdn.jsdelivr.net/npm/vanta@0.5.21/vendor/three.r119.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vanta@0.5.21/dist/vanta.fog.min.js"></script>
      <script>
        VANTA.FOG({
            el: "#vantaWaves",
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            minHeight: 200.00,
            minWidth: 200.00,
            highlightColor: 0xcf5fea,
            midtoneColor: 0x434bf9,
            lowlightColor: 0x6e41c7,
            baseColor: 0x202020,
            blurFactor: 0.79,
            speed: 5.00
            });
        </script -->
</body>

</html>
